[Unit]
Description=Import rpki-client metrics and generate RRDP sync config

[Container]
Image=rrdp-tools.image
Exec=sync-rrdp import-from-metrics --base-dir /data/rrdp/ -o /data/rrdp_sync.toml /metrics
Volume=/var/lib/rpki-client/metrics:/metrics:ro
Volume=/data:/data
Network=none
ReadOnly=true
DropCapability=ALL
# Map container root to host root, container 999 (nonroot) to host 65534 (nobody)
UIDMap=0:0:999
UIDMap=999:65534:1
GIDMap=0:0:999
GIDMap=999:65534:1

[Service]
Type=oneshot
# When a repository is not working, the tool exits with a non-zero exit code.
# Restart=on-failure to make systemd reactivate the unit.
Restart=on-failure
SyslogIdentifier=rrdp-import
NoNewPrivileges=true
