[Unit]
Description=Run RRDP sync every 5 minutes

[Timer]
OnBootSec=2min
OnUnitInactiveSec=30sec

# Do not try to catch up missed runs
Persistent=false

[Install]
WantedBy=timers.target
